*.pyc
.project
.pydevproject
.ropeproject
*~
*$py.class
deployment/hudson/hudson-jobcreator*full.jar
*.swp
*.bin
.fingerprint/
target/
.repository/
redeploy.buildnumber
deployment/framework/bpvagent/download
*.cache
*.old
*.orig
*.new
nbproject/
/domain_config
/domain_type
.maven
/deployment/framework/sonar/.scrapy/
*_flymake.py
/deployment/framework/shared/adlt/tests/test*.zip
/deployment/framework/shared/adlt/tests/*.out
tst.py
